<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>#{get 'title' /}</title>
        <link rel="stylesheet" id='style-css' type='text/css' media='all' href="@{'/public/stylesheets/style.css'}"/>
        <link rel="stylesheet"  href="@{'/public/stylesheets/bootstrap.css'}"  />
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <script src="@{'/public/javascripts/jquery.js'}" type="text/javascript" charset="utf-8"></script>
    <script src="@{'/public/javascripts/bootstrap.min.js'}" type="text/javascript" charset="utf-8"></script>
    <link rel="shortcut icon" href="/public/images/drop.ico"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49353336-6', 'auto');
  ga('send', 'pageview');

</script>
    </head>
<body>


    #{doLayout /}



<footer>
</footer>


</body>
</html>
